@import "/src/assets/_colors.scss";

.text {
  vertical-align: middle;
}

.fold-btn {
  margin: 10px;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
}

.payload-box {
  word-break:break-all;
}

.droppable {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;

  .tactic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tactic-info {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.draggable-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.draggable {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid $pdxf-blue;
  padding: 0.5rem;
  align-items: center;
}

.tactic-order {
  display: flex;
  width: 2rem;
  height: 2rem;
  border: 1px solid $pdxf-blue;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
}

.btn-group {
  display: flex;

  .icon-btn {
    display: flex;
    align-items: center;
    height: 12px;
    width: 12px;
    margin: 8px;
    border: 0;
    padding: 0;
    background-color: white;
    color: #808080;
    box-shadow: 0 !important;
  }
}
