@import "/src/assets/_colors.scss";
@import "/src/assets/global.scss";

.title {
  margin-top: 2rem;
  font-size: 2rem;
}

.small-title {
  font-size: 1.5rem;
}

.edit-training {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border: 1px solid $border-grey;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: white;
}

.addform {
  display: flex;
  gap: 1rem;

  .input {
    flex-grow: 1;
  }
}

.flex-row {
  display: flex;
  gap: 1rem;

  .input {
    flex-grow: 1;
  }
}

.input {
  font-size: 1rem;
  border: 1px solid $pdxf-blue;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

// make component?
.pdxf-button {
  font-size: 1rem;
  background-color: $pdxf-blue;
  color: white;
  border: 0;
  border-radius: 0.5rem;
}

.divider {
  // border: 2px solid $pdxf-blue;
  background-color: $pdxf-blue;
  border-radius: 4px;
  margin: 1rem 0;
}

.pbutton {
  @include pdxf-button;
}
