@import "/src/assets/_colors.scss";

.edit-training {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.box {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  border: 2px solid $pdxf-pink;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.input {
  border: 1px solid $pdxf-pink;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

// make component?
.pdxf-button {
  background-color: $pdxf-pink;
  color: white;
  border: 0;
  border-radius: 0.5rem;
}
