.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}

.card-body {
  padding-bottom: 30px;
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
  padding: 5px;
  max-width: 400px;
}

.icon-table {
  width: 100%;
}

.icon-table td {
  display: inline-flex;
}