.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}

.card-body {
  align-items: center;
  padding: 20px 10px 10px 10px;
  background: hsl(0, 0%, 100%);
  backdrop-filter: blur(30px);
  min-width: 380px;
  max-width: 400px;
  min-height: 440px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  text-align: center;
  margin: auto;
}

.card-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 40px;
}

// input 부분
.input-container {
  position: relative;

  input {
    width: 60%;
    border: 2px solid #dddddd;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 8px 16px;
  }

  input:focus {
    outline: none;
    border-color: hsl(230, 95%, 70%);
  }

  input:focus + .placeholder-text .text,
  input:valid + .placeholder-text .text {

    background-color: white;
    font-size: 16px;
    color: #bbb;
    transform: translate(0, -110%);
  }

  input:focus + .placeholder-text .text {
    border-color: hsl(230, 95%, 70%);
    color: hsl(230, 95%, 70%);
  }

  .placeholder-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16%;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;
  }

  .text {
    font-size: 20px;
    padding: 0 8px;
    background-color: transparent;
    transform: translate(0);
    color: #808080;
    transition: transform 0.15s ease-out, font-size 0.15s ease-out,
      background-color 0.15s ease-out, color 0.15s ease-out;
  }
  
  .placeholder-text {
    font-size: 18px;
    padding: 10 20px;
  }
}

.forgot-pw {
  color: #aaa;
}

.signup {
  font-weight: 600;
  color: rgb(58, 58, 58);
  text-transform: uppercase;
}

.submit-btn {
  background: hsl(230, 95%, 70%);
  border: 1px solid hsl(230, 95%, 70%);
  margin: 25px 0px;
  width: 65%;
  padding: 10px 30px;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.submit-btn:focus,
.submit-btn:hover {
  background: hsl(230, 50%, 50%);
  border: 1px solid hsl(230, 50%, 50%);
}

.signin-platform {
  text-align: center;
}

.icon-table {
  width: 50%;
  margin: 5px auto;
}

.icon-table button {
  background-color: #00000000;
  border: 0px solid #00000000;
}

.icon-table button:focus,
.icon-table button:hover {
  background-color: #00000025;
}

.account {
  margin: 10px 0px;
}
