// @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500,200&display=swap");

// $sidebar-bg-color: #8581d2;
$sidebar-bg-color: linear-gradient(to bottom, #6a82fb, #000);

$submenu-bg-color: rgba(255, 255, 255, 0.04);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
// $sidebar-color: #b3b8d4;
$sidebar-color: rgb(225, 225, 225);
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import "~react-pro-sidebar/dist/scss/styles.scss";

.pro-inner-item:has(> .pro-item-content a.active) {
  background-color: rgba(0, 0, 0, 0.22);
}

.margin-plus {
  margin-bottom: 3px;
}

header h1 {
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.Title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 50px;
}

.box-top,
.box-bottom {
  display: flex;
  margin-bottom: 3px;
}

.box-bottom {
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
}

.margin-10 {
  height: 10px;
}

.margin-box,
.margin-20 {
  height: 20px;
}

.fordocker {
  justify-content: center;
}

.input-lg {
  height: 100px !important;
}

.bottom-btn {
  margin-top: 5px;
}

.box-body {
  margin-bottom: 3px;
}

.box-title {
  margin-right: 10px;
  font-weight: 500;
  font-size: 20px;
}

.inputbox {
  border: 0.8px solid #fa678c !important;
  width: 100% !important;
  height: 100%;
  margin-top: 4px;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.box-table tr {
  height: 3.5rem;
  border-top: 0.5px solid grey;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  margin-right: 8px;
  font-size: 30px;
}

th {
  background-color: hsl(230, 95%, 70%);
  color: white;
  font-weight: 400;
  padding: 12px;
  border-bottom: 1px solid hsl(230, 95%, 70%);
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.box-table td {
  border-bottom: 1px solid #ccc;
  padding: 12px 16px 12px 16px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  color: #000;
  font-size: 12px;
}

.option-btn:active,
.option-btn:hover,
.option-btn:focus {
  background-color: hsl(230, 95%, 70%) !important;
  color: white;
  outline: 0;
}
.option-btn:disabled {
  opacity: 0.5;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.pdxf-button:active,
.pdxf-button:hover,
.pdxf-button:focus,
.pbutton:active,
.pbutton:hover,
.pbutton:focus {
  background-color: hsl(230, 80%, 60%) !important;
  outline: 0;
}
.btn-primary:disabled,
.pdxf-button:disabled,
.pbutton:disabled {
  opacity: 0.5;
}

.option-btn {
  padding: 10px;
  background-color: white !important;
  border: 1px solid hsl(230, 95%, 70%) !important;
  color: hsl(230, 95%, 70%);
  // padding: 8px;
  border-radius: 3px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

button {
  cursor: pointer;
  transition: 0.5s;
}

.box-body .form {
  margin-left: 0;
}

.forblank-bt {
  margin-bottom: 1px;
}
.forblank {
  margin-right: 4px;
}

.pagebtn {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn-primary {
  background-color: hsl(230, 95%, 70%) !important;
  border: hsl(230, 95%, 70%) !important;
  color: white;
  // padding: 8px;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.attbtn {
  margin: auto 0 0 auto;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 100% !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.space-box {
  height: 30px;
}

.profile-box {
  padding: 30px !important;
  max-width: 500px !important;
  min-height: 260px !important;
  padding-top: 10px;
}

.profile-line {
  margin-bottom: 20px;
}

.profile-value {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-input {
  margin-right: 5px;
  width: 250px;
  border: 1px solid #6a82fb;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.box-subtitle {
  font-size: 16px;
  font-weight: 400;
  vertical-align: baseline;
  margin-left: 10px;
  color: #353535;
}

.profile-value {
  font-weight: 500;
}

.custom-select {
  position: relative;
}

.rmv-btn {
  padding: 2px;
  background-color: transparent;
  border: 0;
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
}

.rmv-btn:after {
  display: inline-block;
  content: "\00d7";
  font-size: 25px;
  color: #353535;
}

.select-box {
  width: 100%;
  border: 0.8px solid hsl(230, 95%, 70%) !important;
  height: 34px;
  border-radius: 0.25rem;
  padding: 6px 6px;
}

.col-md-6,
.col-md-12 {
  margin-bottom: 15px;
  padding-left: 0;
}

.wt-box {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
  // padding-right: 16px;
  // padding-left: 16px;
  padding: 20px;
}

body {
  margin: 0;
  height: 100vh;
  // background-color: #dee2ec;
  background-color: #f8f9fa !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Montserrat", sans-serif !important;
}

#root {
  height: 100%;
}

.Title {
  margin-top: 15px;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-btn {
      transition: width 0.3s;
      width: 150px;
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      // text-overflow: ellipsis;
      overflow: hidden;

      span {
        margin-left: 5px;
        font-size: 13px;
      }

      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      line-height: 40px;
      padding: 0;
      padding-left: 100px;
    }
  }

  main {
    // padding-top: 14px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    // overflow-y: auto;
    header {
      margin-bottom: 20px;

      h1 {
        display: flex;
        align-items: center;
      }
    }
  }

  footer {
    padding-top: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    // position: fixed;
    padding-bottom: 5%;
    // left: 500px;
    color: #888;
    text-align: center;

    a {
      text-decoration: none;
      color: #888;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-bagdes {
    margin-top: 10px;

    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #b3b8d4;
    padding: "24px";
    //textTransform: "uppercase";
    overflow: "hidden";

    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }

    .block {
      direction: rtl;

      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }

    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;

    header {
      h1 {
        font-size: 28px;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;

  &.red {
    color: #ffffff;
    background: #ed6e6e;
  }

  &.gray {
    color: #ffffff;
    background: #777777;
  }

  &.yellow {
    color: #000000;
    background: #e1c970;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
}

.footer-icon a {
  padding: 7px;
}
