@import "/src/assets/_colors.scss";

.editchallenge {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px solid $pdxf-pink;
  gap: 0.5rem;
  padding: 0.5rem;
}

.tactic-item {
  background-color: gainsboro;
}

// remove when re-project, so no bootstrap
.text {
  margin: 0;
}

.created {
  background-color: aquamarine;
}

button {
  border: 0;
  color: white;
}
