@import "/src/assets/_colors.scss";

.managetraining {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-list {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 600;
}

.managetraining button {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(230, 95%, 70%);
  border-radius: 100px;
  color: hsl(230, 95%, 70%);
  margin: 6px;
  padding: 4px;
}

.managetraining button:hover,
.managetraining button:focus {
  background: hsl(230, 95%, 70%);
  color: hsl(0, 0%, 100%);

  .create-border {
    border-right: 1px solid hsl(0, 0%, 100%);
  }
}

.create-desc {
  padding: 2px 10px 2px 10px;
  vertical-align: middle;
}

.create-border {
  width: 0.1em;
  height: auto;
  border-right: 1px solid hsl(230, 95%, 70%);
  padding: 0px;
}

.create-icon {
  padding: 2px 10px 2px 10px;
  vertical-align: middle;
}

.create-icon svg {
  width: 20px;
  height: 20px;
}

.item {
  display: flex;
  width: auto;
  margin: 8px;
  padding: 8px;
  background: hsl(0, 0%, 100%);
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  justify-content: space-between;
  height: 100px;
}

.item button {
  padding: 8px 16px 8px 16px;
  margin: 10px;
  background: hsl(230, 95%, 70%);
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: 0px solid hsl(230, 95%, 70%);
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.delete-btn {
  background-color: white !important;
  text-align: left;
  color: #848484 !important;
  font-size: 14px;
  border: 1px solid #848484 !important; 
}

.delete-btn:hover, .delete-btn:focus {
  background: #848484 !important;
  color: rgba(255, 255, 255, 0.9) !important; 
}

.item button:hover,
button:focus {
  background: hsl(230, 80%, 60%);
  color: rgba(255, 255, 255, 0.9);
}

.item-title {
  width: 20%;
  margin: 10px;
}

.item-des {
  width: 60%;
}

.des-box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
   overflow: hidden;
}

.itme-btn {
  width: 20%;
  margin: 10px;
}

.item-title, .item-des, .item-btn {
  display: flex;
  align-items: center;
}

.item-title p {
  font-weight: 600;
  font-size: 16px;
}

//6a82fb