.scenario-list {
  display: flex;
  width: auto;
  margin: 8px;
  padding: 8px;
  background: hsl(0, 0%, 100%);
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  justify-content: space-between;
}

.scenario-list button {
  padding: 8px 16px 8px 16px;
  margin: 10px;
  background: hsl(230, 95%, 70%);
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: 0px solid hsl(230, 95%, 70%);
  border-radius: 5px;
}

.scenario-list button:hover,
button:focus {
  background: hsl(230, 51%, 51%);
  color: rgba(255, 255, 255, 0.9);
}

.scenario-desc {
  display: flex;
  align-items: center;
  margin: 10px;
}

.scenario-desc-title {
  font-weight: 600;
  font-size: 16px;
}

.scenario-desc-system {
  font-size: 13px;
}

.modal-item {
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
}

.modal-scenario {
  width: 100%;
  padding-bottom: 10px;
  border-collapse: collapse;

  .modal-scene-title {
    border-bottom: 1px solid #ccc;

    #modal_scene_title {
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      padding: 5px;
    }

    #modal_scene_system {
      width: 100%;
      font-size: 16px;
      padding: 5px;
    }
  }
  #modal_scene_desc {
    padding: 10px 5px 15px 5px;
    width: 100%;
    font-size: 18px;
  }
}

.modal-connect-button {
  display: flex;
  align-items: center;
  justify-content: center;

  .an-button {
    font-size: 16px;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(230, 95%, 70%);
    border-radius: 100px;
    color: hsl(230, 95%, 70%);
    margin: 6px 20px;
    padding: 4px;
  }

  .an-button:hover,
  .an-button:focus {
    background: hsl(230, 95%, 70%);
    color: hsl(0, 0%, 100%);

    .an-border {
      border-left: 1px solid hsl(0, 0%, 100%);
    }
  }

  .an-desc {
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
  }

  .an-border {
    width: 0.1em;
    height: auto;
    border-left: 1px solid hsl(230, 95%, 70%);
    padding: 0px;
  }

  .an-icon {
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .ir-button {
    font-size: 16px;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(345, 94%, 69%);
    border-radius: 100px;
    color: hsl(345, 94%, 69%);
    margin: 6px 20px;
    padding: 4px;
  }

  .ir-button:hover,
  .ir-button:focus {
    background: hsl(345, 94%, 69%);
    color: hsl(0, 0%, 100%);

    .ir-border {
      border-left: 1px solid hsl(0, 0%, 100%);
    }
  }

  .ir-desc {
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
  }

  .ir-border {
    width: 0.1em;
    height: auto;
    border-left: 1px solid hsl(345, 94%, 69%);
    padding: 0px;
  }

  .ir-icon {
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
  }

  .ir-icon svg {
    width: 20px;
    height: 20px;
  }
}

.modal-an-access {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid hsl(230, 16%, 93%);
  background: hsl(220, 100%, 99%);
  display: grid;
  .modal-tr-an-access {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}

.modal-ir-access {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background: hsl(340, 100%, 99%);
  border-radius: 5px;
  border: 1px solid hsl(348, 13%, 92%);
  display: grid;

  .modal-tr-ir-access {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}

.modal-connect-info {
  padding: 10px;
}

.an-access-button {
  border: 0px solid #eee;
  background: hsl(230, 95%, 70%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 16px;
  padding: 0px;
  margin: 0 3%;

  .an-access-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: hsl(230, 56%, 54%);
    font-size: 23px;
  }

  .an-access-text {
    padding: 0px 20px 0px 20px;
  }
}
.an-access-button:hover,
.an-access-button:focus {
  background: hsl(230, 56%, 54%);
  color: hsl(0, 0%, 100%);
}

.ir-access-button {
  border: 0px solid #eee;
  background: hsl(345, 94%, 69%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 16px;
  padding: 0px;
  margin: 0 3%;

  .ir-access-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: hsl(345, 57%, 51%);
    font-size: 23px;
  }
  .ir-access-text {
    padding: 0px 20px;
  }
}

.ir-access-button:hover,
.ir-access-button:focus {
  background: hsl(345, 57%, 51%);
  color: hsl(0, 0%, 100%);
}

.atk-start-button {
  border: 0px solid rgb(0, 0, 0);
  background: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 16px;
  padding: 0px;
  margin: 0 3%;

  .atk-start-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #000;
    font-size: 23px;
  }
  .atk-start-text {
    padding: 0px 20px;
  }
}

.atk-start-button:hover,
.atk-start-button:focus {
  background: hsl(0, 0%, 0%);
  color: hsl(0, 100%, 62%);
}

.modal-challenge {
  padding: 10px;
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 5px;
}

.modal-chall-divider {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 600;
}

.modal-chall-divider::before,
.modal-chall-divider::after {
  content: "";
  flex-basis: 30%;
  margin: 0px 16px;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.modal-chall-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-chall-list-button {
  font-size: 18px;
  // flex: 1 1 auto;
  justify-content: center;
  border: 3px solid #4860b0;
  padding: 15px;
  margin: 10px;
  background: hsla(0, 0%, 100%, 0);
  color: #212e57;
}

.modal-chall-list-button:hover,
.modal-chall-list-button:focus {
  background-color: #4860b0;
  color: hsl(0, 0%, 100%);
}

.modal-chall-list-button-solved {
  font-size: 18px;
  // flex: 1 1 auto;
  justify-content: center;
  border: 0px solid hsl(158, 58%, 43%);
  padding: 15px;
  margin: 10px;
  background: hsl(158, 58%, 43%);
  color: #ffffff;
}

.modal-chall-list-button-solved:hover,
.modal-chall-list-button-solved:focus {
  background-color: hsl(158, 72%, 33%);
  color: hsl(0, 0%, 100%);
}

.modal-chall-content {
  border-top: 1px solid #999;
  padding: 10px;
}

.modal-chall-content table {
  width: 100%;
}

#modal_chall_title {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}

#modal_chall_score {
  text-align: right;
  font-size: 16px;
}

#modal_chall_desc {
  text-align: left;
  font-size: 15px;
}

.modal-chall-flag {
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: center;
}

.modal-chall-flag input {
  font-size: 14px;
  background: hsl(0, 0%, 100%);
  padding: 10px;
  border: 2px solid #4860b0;
  border-radius: 0px;
  flex-grow: 2;
}

.modal-chall-flag input:hover,
.modal-chall-flag input:focus {
  border: 2px solid #4860b0;
  border-radius: 0px;
  outline: none;
}

.modal-chall-flag button {
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background: hsl(226, 42%, 49%);
  border: 1px solid hsl(226, 42%, 49%);
  color: hsl(0, 0%, 100%);
}

.modal-chall-check {
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.modal-chall-check p {
  padding: 8px;
  color: hsl(0, 0%, 100%);
}
