@import "/src/assets/_colors.scss";

.users {
  background-color: white;
  border: 0.5px solid $border-grey;
  border-radius: 0.5rem;
  padding: 1rem;
}

.marginbox {
  height: 20px;
}

.textmarginbox {
  height: 10px;
}

.currentusers {
  border-bottom: 0.5px solid $border-grey;
  text-align: end;
}

.dashboard {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  padding: 10px;

  tr {
    height: 3.5rem;
    border-top: 0.5px solid grey;
  }
}

.userimg {
  height: 2rem;
}
