@import "/src/assets/_colors.scss";

.users {
  background-color: white;
  border: 1px solid $border-grey;
  border-radius: 1rem;
  padding: 0.5rem;
}

.currentusers {
  border-bottom: 1px solid $border-grey;
  text-align: end;
}

.dashboard {
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  tr {
    height: 3rem;
    border-top: 1px solid black;
  }
}

.userimg {
  height: 2rem;
}
