@import "/src/assets/_colors.scss";

.title {
  font-size: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.x-overflow {
  overflow-x: auto;
}

.dashboard-table {
  width: 100%;
  text-align: left;

  thead {
    text-transform: uppercase;
    background-color: $pdxf-pink;
  }

  .tritem {
    border-bottom-width: 2px;
    border-color: $pdxf-pink;
    &:hover {
      background-color: gray;
    }
  }

  th,
  td {
    padding: 1rem;
  }
}

.scenarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1rem;

  .item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid $pdxf-pink;
    border-radius: 0.5rem;
  }
}

.solved {
  background-color: green;
}
