@import "/src/assets/_colors.scss";

.dashboard-title {
  font-size: 1.5rem;
  margin: 0 !important;
  font-weight: 500;
  // border-bottom: 1px solid $pdxf-blue;
}

.dashboard-small-title {
  font-size: 1.3rem;
  margin: 8px !important;
  font-weight: 500;
}

.des-dash {
  display: flex;
  margin: 8px;
  align-items: center;
}

.red-circle {
  border-radius: 50%;
  background-color: red;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-left: 8px;
  
}

.green-circle {
  border-radius: 50%;
  background-color: green;
  height: 15px;
  width: 15px;
  margin-right: 5px; 
}

.chtitle {
  word-break: break-all;
  width: 95%;
  display: flex;
  align-items: center;
}

.challenges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  .item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: $pdxf-blue;

    &.solved {
      background-color: green;
    }
    &.notsolved {
      background-color: #b7b7b7;
    }
  }
}

.divider {
  border: 0.5px solid #808080;
}

.incident {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.process {
  display: flex;
  flex-direction: column;
  border: 1.5px solid $pdxf-blue;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 8px;
  box-sizing: border-box;
}

.tactic {
  display: flex;
}

.order {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50%;
  color: white;
  margin-right: 0.5rem;

  &.solved {
    background-color: green;
    width: 25px;
    height: 25px;
  }
  &.notsolved {
    background-color: red;
    // width: 5%;
    width: 25px;
    height: 25px;
  }
}

.textmarginbox {
  height: 10px;
}

.titlemarginbox {
  height: 5px;
}

.height-align {
  line-height: 2rem;
}

.bodytext {
  font-weight: 500;
}
